:root {
    --theme-color: #feeaff; /* Определяем переменную цвета */
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 20px;
    background-color: black;
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.App {
    text-align: center;
}

.app-title {
    margin-top: 3%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    color: var(--theme-color);
}

.text {
    color: #ffffff;
}

.btn {
    margin: 20px;
    color: white;
    border-radius: 10px;
}

.add-btn {
    background: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

textb {
    color: #000000;
    font-weight: 800;
}

.translate {
    width: 200px;
    margin: 10px auto;
    padding: 30px;
    background-color: lightsteelblue;
    border: bisque 3px solid;
}

.overturned {
    background-color: #ffffff;
    border: #006fff 3px solid;
}

.container {
    border-radius: 25px;
    width: 50%;
    min-width: 400px;
    margin: 10px auto;
    padding: 40px 20px;

    position: relative;
    border: 2px solid transparent;
    background: #fff;
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    position: relative; /* Это необходимо для правильного позиционирования ::after */

}

.container::after {
    content: ''; /* Обязательно для псевдоэлемента */
    position: absolute; /* Позволяет управлять его позицией */
    top: 0; /* Располагает псевдоэлемент в верхней части контейнера */
    left: 0; /* Псевдоэлемент начнется с левого края */
    right: 0; /* Псевдоэлемент будет растянут до правого края */
    bottom: 0; /* Псевдоэлемент растянется до нижнего края */
    background: rgb(91, 255, 241);
    z-index: -10;
    border-radius: 25px;

    top: -1px;
    bottom: -1px;
    left: -2px;
    right: -2px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.card {
    width: 80%;
    margin: 10px auto;
    padding: 30px;
    min-width: 400px;

    border: 2px solid transparent;
    background: rgb(14, 26, 25);
    background-clip: padding-box;
    border-radius: 35px;
    padding: 40px;

    position: relative; /* Это необходимо для правильного позиционирования ::after */
    color:#feeaff;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}



.cardoverturned {
    width: 80%;
    margin: 10px auto;
    padding: 30px;
    min-width: 400px;

    border: 2px solid transparent;
    background: rgb(91, 255, 241);
    background-clip: padding-box;
    border-radius: 35px;
    padding: 40px;

    position: relative; /* Это необходимо для правильного позиционирования ::after */
    color:#000000;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}