:root {
    --theme-color: #feeaff; /* Определяем переменную цвета */
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 20px;
    background-color: black;
}

input {
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
}

.App {
    text-align: center;
}

.app-title {
    margin-top: 3%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    color: var(--theme-color);
}

.text {
    color: #ffffff;
}

.btn {
    margin: 20px;
    color: white;
    border-radius: 12px;
}

.add-btn {
    background: #ffffff;
    width: 100px;
    height: 40px;
}

textb {
    color: var(--theme-color);
    font-weight: 800;
}

.translate {
    width: 200px;
    margin: 10px auto;
    padding: 30px;
    background-color: lightsteelblue;
    border: bisque 3px solid;
}

.overturned {
    background-color: #ffffff;
    border: #006fff 3px solid;
}

.container {
    border-radius: 25px;
    width: 50%;
    min-width: 400px;
    margin: 10px auto;
    padding: 40px 20px;

    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    position: relative; /* Это необходимо для правильного позиционирования ::after */

}

.container::after {
    content: ''; /* Обязательно для псевдоэлемента */
    position: absolute; /* Позволяет управлять его позицией */
    top: 0; /* Располагает псевдоэлемент в верхней части контейнера */
    left: 0; /* Псевдоэлемент начнется с левого края */
    right: 0; /* Псевдоэлемент будет растянут до правого края */
    bottom: 0; /* Псевдоэлемент растянется до нижнего края */
    background: linear-gradient(71deg, #110e0e, #ffffff, #110e0e);
    z-index: -10;
    border-radius: 25px;

    top: -1px;
    bottom: -1px;
    left: -2px;
    right: -2px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}

.card {
    border-radius: 25px;
    width: 30%;
    min-width: 400px;
    margin: 10px auto;
    padding: 40px 20px;

    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #d090fb, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    position: relative; /* Это необходимо для правильного позиционирования ::after */

    width: 200px;
    margin: 10px auto;
    padding: 30px;



    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #171c1b, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;
    position: relative; /* Это необходимо для правильного позиционирования ::after */ 
    z-index: 2;
}



.cardoverturned {
    width: 30%;
    margin: 10px auto;
    padding: 30px;
    background-color: rgb(0, 79, 182);
    border: bisque 3px solid;

    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 45px;
    padding: 40px;

    position: relative; /* Это необходимо для правильного позиционирования ::after */
    

}